/* @theme notion */

@import 'default';

section {
  font-family: "NotoSansJP-Regular", "NotoSans";
  background-color: #191919;
  width: 1500px;
  height: 600px;
}

section.title {
  text-align: center;
  padding: 80px;
}

section.title h1 {
  color: #FFFFFF;
  font-family: "07にくまるフォント", "NotoSans";
  font-size: 90px;
  padding-top: 24px;
}