/* @theme yum */

@import 'default';

section {
  font-family: "NotoSansJP-Regular", "NotoSans";
  padding: 40px;
  color: #5e17eb;
  border-right: 60px solid #FFDE59;
  border-left: 60px solid #FFDE59;
  border-top: 44px solid #FFDE59;
  border-bottom: 44px solid #FFDE59;
}

section.title {
  color: rgb(77, 155, 243);
  font-family: "07にくまるフォント", "NotoSans";
  font-size: 36px;
  text-align: center;
  padding: 40px;
}

section.title h1 {
  color: #5e17eb;
  font-family: "07にくまるフォント", "NotoSans";
  font-size: 64px;
}